html, body {
  margin: 0;
  padding: 0;
}

video {
  background-color: #ddd;
  border-radius: 21px;
  margin: 30px 0px 0px 10px;
  width: 35%;
  height: 75%;
}
button {
  margin: 10px 0px 0px 10px !important;
  width: 40%;
  align-content: center;
}

.name {
  height: 10%;
  font-family: 'Audiowide', cursive;
  font-size: 400%;
  font-stretch: 10%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

.videoContainer {
  text-align: center;
  height: 75%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Raleway', cursive;
  height: 5%;
}

#yourVideo {
  margin: 20px;
}

#friendsVideo {
  margin: 20px;
}

.top {
  background-color: black;
  color: white;
  padding: 10px;
  padding-bottom: 5px;
  text-align: center;
}